<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><?php echo $title; ?></title>
<base href="<?php echo $base; ?>" />

<?php if ($description) { ?>
<meta name="description" content="<?php echo $description; ?>" />
<?php } ?>



<?php if ($image) { ?>
<meta property="og:image" content="<?php echo $image; ?>" >
<?php } ?>

<?php if ($imageWidth) { ?>
<meta property="og:image:width" content="<?php echo $imageWidth; ?>" >
<?php } ?>

<?php if ($imageHeight) { ?>
<meta property="og:image:height" content="<?php echo $imageHeight; ?>" >
<?php } ?>

<link rel="stylesheet" href="catalog/view/javascript/owl/owlcarousel/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="catalog/view/javascript/owl/owlcarousel/assets/owl.theme.default.min.css" />
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />

<!--script src="catalog/view/javascript/owl/vendors/jquery.min.js"></script-->
<!--script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="catalog/view/javascript/owl/owlcarousel/owl.carousel.js"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700,600" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet" />



<?php foreach ($styles as $style) { ?>
<link href="<?php echo $style['href']; ?>" type="text/css" rel="<?php echo $style['rel']; ?>" media="<?php echo $style['media']; ?>" />
<?php } ?>
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
<?php foreach ($links as $link) { ?>
<link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
<?php } ?>

<?php foreach ($scripts as $script) { ?>
<script src="<?php echo $script; ?>" type="text/javascript"></script>
<?php } ?>

<?php foreach ($analytics as $analytic) { ?>
<?php echo $analytic; ?>
<?php } ?>

<script>
  (function() {
    var cx = '003309067606581524185:gtzygbh3fjm';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
</head>
<body class="<?php echo $class; ?>">
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  
  <nav id="top">
  <div class="container hidden" style="position: relative;margin: 0 auto;text-align: right;">
    
    <div  style="display: inline-block; text-align: right;"><script src="https://apis.google.com/js/platform.js" async defer></script><div class="g-plusone" data-size="small"></div></div>
    <div class="hidden" style="margin-right: 5px;" class="fb-like" data-href="#" data-width="100px" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <div id="top-links" class="nav pull-right hidden">
      <ul class="list-inline">
        <li><a href="<?php echo $contact; ?>"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md"><?php echo $telephone; ?></span></li>
        <li class="dropdown"><a href="<?php echo $account; ?>" title="<?php echo $text_account; ?>" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_account; ?></span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <?php if ($logged) { ?>
            <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
            <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
            <li><a href="<?php echo $transaction; ?>"><?php echo $text_transaction; ?></a></li>
            <li><a href="<?php echo $download; ?>"><?php echo $text_download; ?></a></li>
            <li><a href="<?php echo $logout; ?>"><?php echo $text_logout; ?></a></li>
            <?php } else { ?>
            <li><a href="<?php echo $register; ?>"><?php echo $text_register; ?></a></li>
            <li><a href="<?php echo $login; ?>"><?php echo $text_login; ?></a></li>
            <?php } ?>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div style="width: 100%;">
  <div class="container header header-show" style="padding: 0px;position: relative;margin: 0 auto;">
    <div class="head-logo">
      <div id="logo">
        <?php if ($logo) { ?>
        <a href="<?php echo $home; ?>" class="hidden-sm hidden-xs">
            <img src="<?php echo $logo; ?>" title="<?php echo $name; ?>" alt="<?php echo $name; ?>" class="img-responsive transaction hidden-sm hidden-xs" />
        </a>        
        <a href="<?php echo $home; ?>" class="hidden-lg hidden-md">
            <img src="image/catalog/system/logo-black.png" title="<?php echo $name; ?>" alt="<?php echo $name; ?>" class="img-responsive transaction hidden-md hidden-lg" />
        </a>
        <?php } else { ?>
        <h1><a href="<?php echo $home; ?>"><?php echo $name; ?></a></h1>
        <?php } ?>
      </div>
      <div class="row search-div">
        <div id="head-search"><?php echo $search; ?></div>
      </div>

    </div>
    <div class="head-menu hidden-xs hidden-sm" style="padding: 0px; width: calc(100% - 480px);position: relative;float: left;">
      <nav id="menu" class="navbar" style="width:100%;">
        <div class="main-menu row hidden-xs hidden-sm" style="width: 100%;position: relative;float: left;">
          <ul> 
            <li class="hasChild isAboutus1"><a href="<?php echo $main_menu['scanner']['link']; ?>" ><img src="image/catalog/system/barcode_scanner.png"  /><h2><?php echo $main_menu['scanner']['text']; ?></h2></a></li>            
            <li class="hasChild isProjects1"><a href="<?php echo $main_menu['printer']['link']; ?>" ><img src="image/catalog/system/barcode_printer.png"  /><h2><?php echo $main_menu['printer']['text']; ?></h2></a></li>            
            <li class="hasChild isInvestor1"><a href="<?php echo $main_menu['accessories']['link']; ?>" ><img src="image/catalog/system/accessories.png"  /><h2><?php echo $main_menu['accessories']['text']; ?></h2></a></li>            
            <li class="hasChild isActivity1"><a target="_blank" href="http://rfidsolution.com.vn/" ><img src="image/catalog/system/rfid.png" /><h2>Rfid</h2></a></li>            
            <li class="hasChild isPromotion1"><a href="<?php echo $main_menu['promotion']['link']; ?>" ><img src="image/catalog/system/gif.png" /><h2><?php echo $main_menu['promotion']['text']; ?></h2></a></li>            
            <li class="hasChild isSolution1"><a href="<?php echo $main_menu['solution']['link']; ?>" ><img src="image/catalog/system/solution.png" /><h2><?php echo $main_menu['solution']['text']; ?></h2></a></li>            
            <li class="hasChild isRent1"><a href="<?php echo $main_menu['rent']['link']; ?>" ><img src="image/catalog/system/rent-6.png" /><h2><?php echo $main_menu['rent']['text']; ?></h2></a></li>            
            <li class="hasChild isNews1"><a href="<?php echo $main_menu['tech_news']['link']; ?>" ><img src="image/catalog/system/news.png" /><h2><?php echo $main_menu['news']['text']; ?></h2></a></li>            
            <li class="hasChild isNews1"><a href="<?php echo $main_menu['aboutus']['link']; ?>" ><img src="image/catalog/system/users.png" /><h2><?php echo $main_menu['aboutus']['text']; ?></h2></a></li>            
            <!--li class="hasChild isInvestor"><a href="<?php //echo $main_menu['investor_relation']['link']; ?>">RFID</a></li>
            <li class="hasChild isNews"><a href="<?php //echo $main_menu['news']['link']; ?>">TIN TỨC</a></li>            
            <li class="hasChild isNews"><a href="<?php //echo $main_menu['news']['link']; ?>">KHUYẾN MÃI</a></li-->            
            <li ><a href="<?php echo $main_menu['contact']['link']; ?>"><img src="image/catalog/system/contact.png" /><h2><?php echo $main_menu['contact']['text']; ?></h2></a></li>
          </ul>
        </div>
      </nav>  
    </div>
    <?php echo $language; ?>
    <div class="hidden-lg hidden-md mobile-hub">
      <a><i style="font-size: 40px;" class="material-icons toggle-btn collapsed" data-toggle="collapse" data-target="#menu-content">menu</i></a>
    </div>
  </div>
  <div id="overlayForMobileMenu" style="position: fixed;width: 100%;height: calc(100% - 60px);top: 60px;left: 0px;transition: 0.3s;display: none;z-index: 99;background: rgba(0, 0, 0, 0.3);"></div>
  <!-- menu down mobile -->
  <div class="hidden-lg col-xs-12 col-md-12 col-sm-12 side-menu">
    <div class="nav-side-menu">
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['scanner']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/barcode_scanner.png"  /><h2>Scanner</h2></a></li>
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['printer']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/barcode_printer.png"  /><h2>Printer</h2></a></li>            
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['accessories']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/accessories.png"  /><h2>Accessories</h2></a></li>            
            <li class="row col-md-2 col-sm-3 col-xs-3"><a target="_blank" href="http://rfidsolution.com.vn/" ><img style="width: 100%;" src="image/catalog/system/rfid.png" /><h2>Rfid</h2></a></li>            
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['promotion']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/gif.png" /><h2>Promotion</h2></a></li>            
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['solution']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/solution.png" /><h2>Solution</h2></a></li>            
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['rent']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/rent-6.png" /><h2>Rental</h2></a></li>            
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['repair']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/repair.png" /><h2>Repair</h2></a></li>            
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['tech_news']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/news.png" /><h2>News</h2></a></li> 
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['aboutus']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/users.png" /><h2>About us</h2></a></li>            
            <li class="row col-md-2 col-sm-3 col-xs-3"><a href="<?php echo $main_menu['contact']['link']; ?>" ><img style="width: 100%;" src="image/catalog/system/contact.png" /><h2>Contact</h2></a></li>
          </ul>
        </div>
    </div>
  </div>
  <div id="searchOverlay" style="position: fixed;width: 100%;height: 100%;top: 0px;left: 0px;transition: 0.3s;z-index: 98;background: white;display: none;overflow: scroll;z-index: 100;">
      <div style="width: 30px;position: relative;float: left;"><a onclick="hideSearchOverlay()" style="width: 30px; position: relative;float: right;display: block; text-align: center; height: 60px;color: #B45F06; "><i class="material-icons" style="line-height: 65px;float: right;">arrow_back</i></a></div>
      <div style="width: calc(100% - 30px);padding: 10px 10px 10px 3px;position: relative;float: left;"><gcse:search></gcse:search></div>
      
      <style type="text/css">
        .gsc-control-cse{
          position: relative;
          float: left;
          padding: 0px 10px;
        }
        .gsc-search-box input[type="text"]{
          height: 28px;
          padding: 0px 10px;
          font: 300 13px/26px 'times new roman',verdana;
          
        }
        .gsc-search-box{
          border-radius: 3px;
          position: relative;
          float: left;
          width: 100% !important;
        }
        .gsc-search-button{
          padding: 4px 18px 0px 18px;
        }
        .gsc-search-button svg{
          height: 18px;
          width: 18px;
        }
        #adBlock, #gsc-adBlock{
          display: none !important;
        }
      </style>
  </div>   
  <!-- menu down mobile :: end-->
  </div>  
</header>