<!--div style="display: inline-block;position: relative;float: right;"><div id="search" class="input-group">
  		<input type="text" name="search" value="<?php /*echo $search; ?>" placeholder="<?php echo $text_search;*/ ?>" />
    <button type="button" ><i class="material-icons">search</i></button>
</div></div-->
<div id="search"  class="input-group">
  <input type="text" id="search_input_google" name="search_input_google"  onfocus="openSearchOverlay()" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" />
  <button type="button" style="padding: 5px;"  onclick="openSearchOverlay()" class="btn btn-default btn-lg"><i class="material-icons">search</i></button>
</div>
