<div class="row" style="width: 100%;position: relative;float: left;background: url(catalog/view/theme/default/image/jhe/pattern1.jpg) 0 0 repeat; padding: 10px 0px 20px 0px;">
  <?php if($heading_title) { ?>
    <h2 class="hidden"><?php echo $heading_title; ?></h2>
  <?php } ?>
  <?php echo $html; ?>
</div>