<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb hidden">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo '';//$breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <div class="row">
   
  </div>
</div>
<?php echo $footer; ?>
