.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
	padding: 0px; 
}
body {
	font-weight: 400;
	color: #0e0e0e;
	font: 400 14px/1.3em Helvetica,verdana;
	width: 100%;
	background: #f0f0f0;
}
h1,h2,h3,h4,h5,h6{
	font-family: Helvetica, sans-serif, verdana;
	line-height: 1.2em;
}
.row{
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 25px;

}
h3 {
	font-size: 21px;
	line-height: 1.2em;
	margin-bottom: 0.5em;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 30px;
}



@media (max-width: 767px) {
	h5 {
		font-size: 20px;
	}	
}
h6 {
		color: #444;
	font-weight: 300;	
	font-size: 30px;
	text-align: center;
	font-weight: 300;
}
p{
	text-align: justify;
	font: 300 15px/20px Helvetica, sans-serif;
}
a {
	color: #2b332d;
}
a:hover {
	text-decoration: none;
}
a.thumbnail.active{
    border: 1px solid #ddd; 
}
legend {
	font-size: 18px;
	padding: 7px 0px;
}
label {
	font:normal 14px/1.5em Helvetica,arial;
}

.col-sm-6, .col-md-3, .col-xs-12{
	padding: 5px;
}
@media (max-width: 991){
	div{
		padding-right: 1px !important;
		padding-left: 1px !important;
	}
}

h3, h4{
	color: #444;
	margin: 0px;
	padding: 0px;
	font-weight: 500;	
}
h5{
	color: #444;
	line-height: 40px;	
	font-weight: 400;	
	font-size: 30px;
	text-align: center;
}
@media (max-width: 767px) {
	h5 {
		line-height: 40px;
	}
	.swiper-viewport{
		margin-bottom: 10px; 
	}	
}

h6{

}

h1, h2{
	color: #333;
	margin: 0px;
	padding: 0px;
	font-weight: 200;
}
ol, ul{
	margin: 0px;
	padding: 0px;
}

/* logo */
#logo{
	display: block;
	position: relative;
	float: left;
	height: 56px;	
}
.head-logo{
	height: 56px;
	position: relative;
	float: left;
}
#logo{
	padding: 5px;
	position: relative;
	float: left;
}
#logo a img{
	width: calc(100%);
	height: 45px;		
}
#logo a{
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#head-search{
	float: left;
    width: calc(100% - 10px);
    padding-right: 3px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    z-index: 100;
}
.search-div{
	position: relative;
	float: left;
}

@media (min-width: 992px){
	.head-logo{
		width: 400px;
	}	

	#logo{
		width: 200px;
	}
	.search-div{
		width: 200px;
		height: 56px;
		position: relative;
		float: right;
		padding: 0px 5px;
	}
}
@media (max-width: 767px){
	.head-logo{
		width: 100%;
		padding: 0px 10px;
	}
	.head-logo .head-language h2{
		display: none !important;
	}
	#logo{
		width: 60px;
	}
	.search-div{
		width: calc(100% - 190px);
		padding: 0px 5px;
		height: 56px;
	}

}

/* search */
#search{
	width: 100%;
}

#search input[type="text"]{
	border: none;
	box-shadow: none;
	padding: 0px;
	font: normal 13px/30px Helvetica,Arial,Helvetica,sans-serif;
	position: relative;
	float: left;
	width: calc(100% - 40px);	
}
#search {
	border: 1px solid rgba(128, 128, 128, 0.3) !important;
    height: 30px;
    padding: 0px 7px;
    color: #666;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: white;
    box-shadow: none;
    text-indent: 20px;
    opacity: 1;
}
#search button{
	height: 30px;
	width: 40px;
	position: relative;
	float: right;
	border: none;
	background-color: transparent;
}
#search button i{	
	font-size: 20px;
	font-weight: 300;
	color: #828282;
}
#search .input-group-btn button {
	background: transparent;
	border: none;
}

@media (max-width: 767px) {
	#logo a img{
		max-width: 80px;
		position: relative;
		margin: 0 auto;
	}
	#logo a{
		display: block;
		text-align: center;
	}
	.head-logo .company-name a{
		line-height: 70px;
	}
	.head-logo .company-name{
		text-align: left;

	}
}
/* logo::end*/
/*header*/

header{
	z-index: 100;
	-webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background-color: #fed700;
}
@media (max-width: 991px){
	header{
	}
	
}
.header-hide{
	height: 60px;
}
.header{
	padding: 0px 5px;
}
.head-menu ul li a{
	color: #555555;
}

.head-menu .navbar{
	margin: 0px;
	min-height: 0px !important;
}
.navbar #head-link > div{
	position: relative;
	float: right;

}
.navbar #head-link{
	text-align: right;	

}

.head-language{
	position: relative;
	float: left;
	width: 80px;
}
.head-language li img{
	max-width: 40px;
}
.head-language li{
	list-style: none;
	text-align: center;
}
.head-language li button{
	padding: 0px;
	width: 80px;
	color: black;
	font: 400 12px/24px Helvetica,sans-serif;
	text-decoration: none;
	height: 56px;
}
.head-language h2{
	display: inline-block;
	width: 80px;
	position: relative;float: left;
	text-align: center;
	font: 300 11px/20px  Helvetica;
	text-transform: uppercase;
}
.mobile-hub a i{
	display: block;
	line-height: 45px;
}
.mobile-hub a{
	width: 45px;
	height: 45px;
	display: block;
	text-align: center;
}
.mobile-hub{
	position: relative;float: left;
	height: 56px;
	width: 56px;
	padding: 5px;
}

.head-logo > .head-language{
	display: none;
}


@media (max-width: 1039px) and (min-width: 992px){
	.main-menu ul li:nth-child(8){
		display: none;
	}	
	.main-menu ul li:nth-child(9){
		display: none;
	}	
	.main-menu ul li:nth-child(10){
		display: none;
	}	
}
@media (max-width: 1169px) and (min-width: 1040px){
	.main-menu ul li:nth-child(9){
		display: none;
	}	
	.main-menu ul li:nth-child(10){
		display: none;
	}	

}
@media (max-width: 1170px) and (min-width: 1100px){
	.main-menu ul li:nth-child(10){
		display: none;
	}

}

@media (max-width: 991px){
	.head-language{
		display: block;
		position: relative;
		float: left;
		width: 40px;
		right: 0px;
	}
	.head-language li button {
		width: 40px;
	}
	.head-logo > .head-language{
		display: block;
	}
	.head-logo #logo{
		width: 60px;	
	}
	.head-logo{
		width: calc(100% - 100px);
	}
	.search-div{
		width: calc(100% - 60px);
		height: 56px;
	}	

}



.lang-search{
	-webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    position: relative;
    float: right;
}

.main-menu{
	-webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.main-menu > ul > li > div li:hover a{
	color: white;

}
.main-menu > ul > li > div li:hover{
	background-color: #1a93ca;
}
.main-menu > ul > li > div li{
	position: relative;
	display: inline-block;
	text-align: left;
	padding: 10px 10px;
	float: left;

}
.main-menu > ul > li:hover > div{
	display: table-cell;
	min-width: 200px;
}
.main-menu > ul > li > a img{
	width: 100%;max-width: 50px;height: 25px;clear: right;position: relative;
	padding-top: 5px;
}
.main-menu > ul > li > a{
	text-align: center;display: block;
	padding: 3px 5px 0px 5px;
	font: 300 15px/25px sans-serif;
    text-transform: uppercase;
}
.main-menu > ul > li > div{
	display: none;
	position: absolute;
	top: 100%;
	left: 0px;
	border: 1px solid gray;
	z-index: 101;
	background-color: #fff;
	border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: max-content;
}
.main-menu h2{
	font: 300 11px/24px Helvetica;'open sans';
	text-transform: uppercase;
}

#menu-carousel-home{
	background: transparent;
}
#menu-carousel-home .owl-item{
	padding: 7px;
	position: relative;	
	float: 	left;	
}
#menu-carousel-home .item,#menu-carousel-home .item img{
	display: block;
	width: 100%;
	text-align: center;
}
#menu-carousel-home .item h2{
	font-size: 13px;
	text-align: center;
	width: 100%;
}
#menu-carousel-home .item a{
	position: relative;
	width: 100%;
	padding: 20% 0%; 
	border: 1px solid gray;
	background: #f9f9f9;
	border-radius: 50%;
	display: block;
	max-width: 80px;
	max-height: 80px;
	margin: 0 auto;
}
.chonM a{
	color: white !important;
	text-decoration: none;
}
.chonM{
	background: #1e2b62;
	
}
.submenu-ul li:hover{
	background: #074490;

}
.submenu-ul li a{
	color: white;
	font: 300 15px/40px Helvetica,sans-serif;
	padding: 0px 20px;
	text-transform: uppercase; 
}
.submenu-ul li{
	position: relative;
	display: inline-block;

}
.submenu-ul{
	width: 100%;
	padding: 0px;
	position: relative;
	margin: 0 auto; 
	text-align: center;
}
.main-menu > ul > li:hover > a{
	color: white;
}
.main-menu > ul > li:hover{
	background: white;
}
.main-menu > ul > li > a{

}
.main-menu > ul > li{
	position: relative;
	float: left;
	list-style: none;
	box-sizing: border-box;
}
.main-menu ul{
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
	width: 100%;
}
.main-menu{
	position: relative;
	text-align: center;
}

.main-menu-mobile  .nav>li>a:hover{
	background: inherit;
}
.main-menu-mobile > ul li a{
	text-transform: uppercase;
}
.main-menu-mobile li a{
	color: white !important;
	font: 300 14px/20px Helvetica,verdana;
}
.main-menu-mobile{
	background: rgb(56, 155, 197);
	margin: 0px;
	padding: 0px;
}
.main-menu-mobile > ul li:hover{
	background: #1385b6;
}
.main-menu-mobile ul li + li{
}
.main-menu-mobile > ul > li{
	padding: 0px;
	padding-left: 20px;
	border-bottom: 1px solid #d8d7d7;
}
.main-menu-mobile .sub-menu li{
	padding: 0px;
	padding-left: 40px;
	line-height: 30px;
	color: white;
}
.main-menu-mobile ul{
	padding: 0px;
}
.main-menu-mobile{

}
.navbar-header{
	position: relative;
	float: right;
	padding: 0px 10px 0px;margin: 0 auto;
}
.side-menu .nav-side-menu{

}
.mobile-hub i{
	background: white;
	color: black;
}
.mobile-hub .collapsed{
	background: transparent;
	color: white;
}
.side-menu{
	position: absolute;top:56px;left: 0px;
	z-index: 99;
	background: white;
}
.nav-side-menu ul li h2{
	text-align: center;
	font-size: 14px;
}
.nav-side-menu ul li a img{
	padding: 15px;
}
.nav-side-menu ul li a{
	display: block;
	position: relative;
	float: left;	
	width: 100%;
	text-align: center;	
	border: 1px solid #cecece;
	padding:3px;
	background: white;

	-webkit-box-shadow:0 1px 1px rgba(183, 183, 183, 0.3), 0 0 2px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 1px rgba(183, 183, 183, 0.3), 0 0 2px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 1px rgba(183, 183, 183, 0.3), 0 0 2px rgba(0, 0, 0, 0.1) inset;
	border-radius: 6px;
}
.displayOverlay{
	display: block !important;
}
.nav-side-menu ul{
	position: relative;
	float: left;
	padding: 5px;
	width: 100%;
}		
.nav-side-menu ul li{
	list-style: none;
	display: block;
	padding: 5px;

}

@media (min-width: 1200px){
	.main-menu > ul > li a{
		padding: 0 7px;
		font: 300 14px/30px sans-serif;
		display: block;
	}
	.custom-control .item{
		min-height: 70px;
	}
} 
@media (min-width: 992px) and (max-width: 1199px){ 
	.main-menu > ul > li a{
		padding: 0 5px;
		font: 300 14px/30px sans-serif;
		display: block;
		max-width: 88px;
	}
	.carousel-first-adv h2{
		padding-left: 3px !important;
	}
	.carousel-first-adv .liveevent{
		max-width: 220px !important;
	}
	.custom-control .item{
		min-height: 70px;
	}
}
/*header::end*/
/* content */
#content {
	padding: 5px 0px;
	position: relative;
	float: left;
	width: 100%;
}
#content p{
	font: 300 15px/22px Helvetica,sans-serif;
	margin: 0px;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
.bussiness ul li:nth-child(5) {
	margin-left: 0px;
}.bussiness ul li:nth-child(4) {
	margin-left: 0px;
}.bussiness ul li:nth-child(3) {
	margin-left: 0px;
}.bussiness ul li:nth-child(2) {
	margin-left: 0px; 
}
.bussiness ul li:nth-child(1) {
	
}
.bussiness .tab-pane p{
	font: 300 16px/20px Helvetica;
	color: #fff;
}
.bussiness .tab-pane > div{
	background: transparent;
	padding: 0px 25px 30px 0px;
	min-height: 800px;
}
.bussiness .buss-text:hover{
	background: transparent;
	color: #252362;
	text-decoration: underline;
}
.bussiness .buss-text{
	font: 400 18px/40px Helvetica,sans-serif; 
	color: #3589c4;
	text-decoration: none;

}

.bussiness .buss-content{
	-webkit-box-shadow: -7px 8px 20px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 8px 20px -4px rgba(0,0,0,0.75);
box-shadow: -7px 8px 20px -4px rgba(0,0,0,0.75);
border: 1px solid #b2c4cc;
}
.bussiness .active{
	background: transparent;
}
.bussiness .active a{
	color: #252362;
}
.bussiness .buss-number{
	font: 600 18px/40px Helvetica,sans-serif; 
	width: 44px; 
	color: #3589c4;
	display: inline-block; 
	text-align: center; 
	padding: 0px !important; 
}
.bussiness ul li a{
	display: inline-block;
}
.bussiness ul{
	min-height: 800px;
	/*background: url('/image/catalog/system/jesco-bg-1.jpg') 0 0 no-repeat; */
}
.bussiness ul li{
	position: relative;
	float: left;
	margin-bottom: 15px;
	border-left: 2px solid #1e9fd9;
	clear: both;
	-webkit-box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.75);
	width: 94%;
}
.work .second-column{
	width: 80%;
	position: relative;
	float: left;
}
.work .first-column{
	width: 20%;
	position: relative;
	float: left;
}
.work > div{
	border-bottom: 1px dotted #23a0d978;
	position: relative;
	float: left;
}
.tab-pane > div .product-layout {
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	padding: 20px 10px;
}

.form-control{
	background-color: transparent;
	-webkit-box-shadow: none;
    box-shadow: none;
}
.nav>li>a {
    padding: 10px 5px !important;
}

/* news content*/
/*----about us  -> leader ship */

/*--> overview*/
.overview-logo{
	position: absolute;
	right: 10px;
	top: 10px;
}
.overview-content{
	position: relative;float: left;box-sizing: border-box;padding: 10px 35px 35px 35px;background: #efefef;color: #15142c;font:  300 16px/20px Helvetica, sans-serif;
}
.overview-content h3{
	font: 300 16px/20px Helvetica,verdana;
	color: #050086;
	margin: 0px;
	padding-left: 10px;
}
@media (max-width: 991px) {
	.overview-logo{
		position: relative;
		float: left;
	}
	.overview-content{
		padding-left: 5px;
		padding-right: 5px;		
	}

}
/*--> overview::end*/


.leadership .nav li:hover a  {
	color: white !important;
	cursor:pointer;		
}
.leadership .nav li a  {
	padding: 10px 25px !important;
    background: #a9a9a9 !important;
    color: white !important	;
    text-transform: uppercase;
    font: 300 18px/18px Helvetica;

}
.leadership .nav .active a  {
    background: #06448f !important;

}
/*----about us  -> leader ship :: end*/
/*----category of news - newsblog -- */
/** Solution **/
.solution-item img{
	border-radius: 50%; 
}
.solution-item{
	padding: 10px;
}
/** Solution :: end **/

.newslist li img{
	padding-right: 10px;
}
.newslist li p{
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    padding: 10px 0;
}
.newslist li h3 {
    display: block;
    overflow: hidden;
    line-height: 28px;
    font-size: 22px;
    font-weight: 600;
}
.newslist li a {
    display: block;
    overflow: hidden;
    position: relative;
}
.newslist li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    position: relative;
}
.second-news h3{
	font-size: 20px;
    line-height: 1.3em;
    font-weight: 600;
}
.big-first-news h3{
	font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}
.big-first-news a img{
	width: 100%;
}
.big-first-news a:hover h3{
	color: #288ad6;
}
.third-news h3{
	font-size: 16px;
    line-height: 1.3em;
    font-weight: 300;
    margin-bottom: 0;
}
.third-news{
	padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;	
    position: relative;
    float: left;padding: 10px 0px;
    width: 	100%;
}
.second-news{
	padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;

}
@media (max-width: 767px){
	.third-news h3,.second-news h3, .newslist li h3{
		font-size: 15px;
		line-height: 1.3em;
		font-weight: 400;
	}
	.third-news img,.second-news img{
		padding-right: 10px;	
	}

}
@media (max-width: 992px){
	.third-news h3,.second-news h3, .newslist li h3{
		font-size: 20px;
		line-height: 1.3em;
		font-weight: 400;
	}
	.third-news img,.second-news img{
		padding-right: 10px;	
	}	
}
.big-first-news a,.second-news{
	display: block;
	position: relative;
	float: left;
	width: 	100%;
}
.tabmenu-news a{
	color: #333;
}
.tabmenu-news > ul > li a {
    display: block;
    padding: 8px 10px 4px;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    font-weight: 300;
    background: #fff;
    border-radius: 2px;
}
li .actmenu {
    background: #fed701 !important;
}
.tabmenu-news ul li{
	position: relative;
	float: left;
	display: block;
	margin-right: 5px;
	list-style: none;
}
.tabmenu-news ul{
	position: relative;
	float: left;
	margin: 0px;
	padding: 0px;
}
.tabmenu-news{
	width: 100%;
	position: relative;
	float: left;
	padding: 20px 0px;
}
/*** technology news ***/
#technology-div .link-button{
	width: 100%;
	padding: 10px 20px;
	text-align: center;
	color: blue;
	border: 1px solid #f3f3f3; 
	border-radius:5px;
	position: relative;
	float: left;
	display: block;
}
#technology-div > a > h2{
	position: relative;
    float: left;
    text-align: left;
    font: 600 16px/25px Helvetica,verdana;
    text-transform: uppercase;
    padding-left: 10px;
    width: 100%;
}
#technology-div ul a h2{
	font-size: 14px;
	line-height: 18px;
}
#technology-div a img, #technology-div ul a h2{
	position: relative;
	float: left;
}
#technology-div{
	background: white;
	padding: 10px 5px;
}
#technology-div ul li{
	border-bottom: 1px solid #f3f3f3;
}
#technology-div ul li:nth-child(3){
	border: none;
}
#technology-div ul li{
	width: 100%;
	position: relative;
	float: left;
	clear: both;
	display: block;
	list-style: none;
	padding: 10px 0px;
}
#technology-div ul{
	width: 100%;
	margin: 0px;
	padding: 10px 0px;
}
/*** technology news :: end ***/


.article-3 .item p{
	padding: 0px 10px 10px 10px; background: #ebebeb66;position: relative;float: left;width: 100%;
}
.article-3 .item{
	padding: 10px 5px;
}

.article-3 .item .title-link{
	padding: 10px; background: #ebebeb66;position: relative;float: left;width: 100%;display: block;text-align: center;
}
.article-3 .item .img-link{
	border: 1px solid #80808063;position: relative;float: left;width: 100%;
}

.related-images .more-image,.related-images .first-image{
	position: relative;
	float: left;
	list-style: none;
}
.related-images .first-image{
	margin-bottom: 10px;
}
.related-images .more-image img{
	width: 100%;
}
.related-images .more-image:nth-child(2) {
	padding-right: 10px;
}.related-images .more-image:nth-child(4) {
	padding-left: 10px;
}.related-images .more-image:nth-child(3) {
	padding-left: 5px;
	padding-right: 5px;
}

.related-images .first-image img{
	width: 100%;
}
.related-images .first-image{
	width: 100%;
	position: relative;
	float: left;
}

@media (max-width: 767px){
	.article-3 .item{
		padding: 7px 0px;
	}
	.article-3 .item p{
		padding: 0px 3px 7px 3px;
	}
	.article-3 .item .title-link{
		padding: 7px 3px 0px 3px;
	}
	.newsblog-title{
		position: relative !important;
		float: left !important;
		padding: 0px !important;
		bottom: unset !important;
		background: #0d89bc;
		height: unset !important;
		padding: 7px 0px !important;
	}	
	.newsblog-title h2{
		text-align: center;
		position: relative !important;
		float: left !important;
		top: unset !important;
		color: white;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.article-3 .item:nth-child(2n + 1){
		clear: left;
	}	
}

@media (min-width: 992px) and (max-width: 1199px) {
	.article-4 .item:nth-child(3n+1){
		clear: left;
	}
	.article-3 .item:nth-child(2n + 1){
		clear: left;
	}		
}
@media (min-width: 1200px) {
	.article-4 .item:nth-child(3n+1){
		clear: left;	
	}
	.article-3 .item:nth-child(3n + 1){
		clear: left;
	}	
}

.box-category-newsgroup>ul {
    list-style: none;
    margin: 0;
}
.box-category-newsgroup>ul>li {
    padding: 0;
    border-bottom: 1px solid #c4c4c487;
}
.box-category-newsgroup>ul>li>a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding-left: 7px;
    font: 300 14px/35px Helvetica,verdana;
}
.box-category-newsgroup>ul>li ul {
    display: none;
    padding: 0 0 5px 15px;
    background: #3a4c98;
}
.box-category-newsgroup>ul>li ul>li {
    padding: 5px;
    list-style: square inside;
    color: #fff;
}
.box-category-newsgroup .subnav li a {
    color: #fff;
    font: 300 14px/20px Helvetica;
}
.box-category-newsgroup>ul>li ul>li>a.active {
    color: #fe7408;
}
/*----category of news - newsblog :: end; -- */
/*----news in home--*/
.news-list-main-home{
	background: url(../image/jhe/pattern2.jpg) 0 0 repeat;
	width: 100%;position: relative;float: left;
	padding: 20px 0px;
    margin-bottom: 30px;
}

.news-list-main-img a{
	position: relative;
	float: left;
	width: 100%;	
	overflow: hidden;
	display: block;
}


.news-list-main-cap h4{
 	font: 400 18px/24px Helvetica, sans-serif;
    color: #0768ac;
    text-transform: uppercase;
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */

.kenburns-top {
	-webkit-animation: kenburns-top 7s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate both;
	        animation: kenburns-top 7s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate both;
}




@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
/**
 * ----------------------------------------
 * animation kenburns-top :: end;
 * ----------------------------------------
 */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation fade-in-fwd :: end;contac
 * ----------------------------------------
 */

/*----news in home::end--*/
 .newsblog-title{
 	position: relative;
 	margin: 0 auto;
 	width: 100%;
 	max-width: 1200px;
 	padding: 10px 0px;
 }
 .newsblog-title h2{
 	width: 100%;
 	background: white;
 	text-transform: uppercase; 
 }
@media (max-width: 991px){
	 .cat-image-title h2{
	 	left: 0px;
	 	font-weight: 400;
	 }
} 
 .has-group-image{
 	padding-top: 380px !important;
 }
 .no-group-image{
 	padding-top: 170px !important;
 }
 .grouptitle-no-groupimage{
	background: url('../image/jhe/title-header-4.png') 0 0 no-repeat; 
	padding-left: 140px;
	line-height: 80px;	
	left: 50px !important;
	top: 100px !important;
}

 .cat-image-title > img{
 	width: 100%;
 }
 .cat-image-title{
 	width: 100%;position: relative;float: left; 
 }

.carousel-inner h2{
	margin-bottom: 10px: 
}
.carousel-inner{
	max-width: 1200px;position: relative;margin: 0 auto;
	height: max-content;
}
.carousel-inner .active{
	position: relative;
}
.carousel-inner .item{
	padding: 20px 0px;
}
.news-title{
	/*background: url('../image/jhe/title-header-2.png') 0 0 no-repeat; */
	line-height: 50px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.news-content h1{
    display: block;
    overflow: hidden;
    color: #333;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 600;
    margin: auto;
}

.news-content p{
	width: 100%;
	padding: 10px 10%;
    margin: 0px auto;
    font-size: 16px !important;
    color: #333;
    line-height: 28px  !important;
}

@media (max-width: 767px) {
	.news-content > h1{
		font: 600 17px/24px 'Roboto Condensed',sans-serif,Helvetica,verdana;

	}

	.news-content p{
		width: 100%;
		padding: 5px;
	    margin: 0px auto;
	    font-size: 14px;
	    color: #333;
	    line-height: 1.3em;
	}
}

@media (min-width: 768px) {
	.news-content > h1{
		font: 600 20px/28px 'Roboto Condensed',sans-serif,Helvetica,verdana;

	}	
}

@media (min-width: 950px) {
	.news-content > h1{
		font: 600 45px/53px 'Roboto Condensed',sans-serif,Helvetica,verdana;
	    line-height: 53px;
	    font-size: 45px;
	}	
}




#myCarousel .carousel-inner .item > div {
 	position: relative;
 	float: left;
}
#myCarousel .submenu a small {

    display:block;
}
#myCarousel .submenu {
    background:transparent;
    max-width: 800px;

}
#myCarousel .submenu .active {
	background-color: #3589c4;
}
#myCarousel .submenu li {
	position: relative;
	display: inline-block;
}
#myCarousel .submenu li:hover {
	background-color: #3589c4 !important;
}
#myCarousel .submenu a {
    border-radius:0px;
    color: white;
    font: 300 15px/40px Helvetica,sans-serif;
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

#aboutus-container .vertical{
	text-align: left;
	margin: 20px 0px 10px 0px;
	padding: 5px;
	border: 1px solid #d8d8d8;
}
#aboutus-container .horizon{
	text-align: center;
	padding: 0px 20px;
}
#aboutus-container .horizon li{
	position: relative;
	padding: 0 20px;
	display: inline-block;
	background: #f1efef;
}
#aboutus-container .vertical li{
	width: 100%;
}
#aboutus-container .vertical li + li{
	border-top: 1px dotted #d8d8d8;
}
#aboutus-container .aboutus-submenu li a{
	font: 300 15px/40px Helvetica,sans-serif;
	text-transform: uppercase;

}
#aboutus-container .aboutus-submenu li{
	list-style: none;
	position: relative;

}

 @media (max-width: 767px) {
	#myCarousel .submenu a {
		font: 300 14px/40px Helvetica,sans-serif;
    	padding: 0px 10px;		
	}
}

#myCarousel .submenu{
	position: relative;
	margin: 0 auto;

}
layout: {
    type: 'accordion',
    animate: {
        duration: 10000
    }
}
/* news content::end*/



.news-content img{
	max-width: 100%;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 14px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 14px;
}
.input-group .input-group-addon {
	font-size: 14px;
	height: 30px;
}
#links0 .prog_title {
	font-size: 16px !important;
	font-weight: 600 !important;
	padding: 10px 0px !important;
}
/* Fix some bootstrap issues */
.panel{
	border: none;
	box-shadow: none;
	background: transparent;
}
.panel-group .panel+.panel {
    margin-top: 0px;
}
.panel-default>.panel-heading{
	background: transparent;
	font: 400 15px/30px Helvetica, sans-serif !important;
	padding: 0px !important;
	color: #252362;
}
.panel-title{
	font: 400 15px/21px Helvetica, sans-serif !important;
	border-bottom: 1px solid #b6b6b6ab
}

span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
#content{
	background-color: white;
}
.home-container{
	width: 100%;
	max-width: 1800px;
	position: relative;
	margin: 0 auto;
	padding-top: 5px;
}
.feature-div,.product-category{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}

@media (max-width: 767px){
	.container{
		padding: 0px 5px 10px 5px;
	}	
}


/* Fix some bootstrap issues::end; */
.manufacturer-logo img{
	width: 100%;padding-right: 30px; border-right: 1px solid #d0d0d0;
}
.manufacturer-logo{
	padding: 20px 20px 20px 0px;
}

.manufacturer-div{
	padding: 20px 0px; border-bottom: 1px solid #dedddd;
}
.manufacturer-div h4{
	text-align: center;padding: 10px 5px; background: #2f2c67; color: white;
	font: 300 14px/18px Helvetica,verdana;
}
.manufacture-wrap{
	background: white;
}
.manufacture-wrap .manufacture-item{
	width: 12.4%;position: relative;float: left;display: block;border: 1px solid #eee;
	margin-left: -1px;
	padding: 5px;
}

@media (max-width: 767px) {
	.manufacturer-logo img{
		padding-right: 10px;
	}

}

/* Manufacture :: start*/

/* Manufacture :: end*/


/* Fix some bluimp gallery issues */
 .blueimp-gallery-div{
 	padding-top: 30px;
 }
 @media (max-width: 767px) {
 .blueimp-gallery-div{
 	padding-top: 0px;
 }	
}
/* Fix some bluimp gallery :: end; */

/*categroy*/

.category-title a{
	float: left;
}
.category-title{
	padding: 0 15px;line-height: 1.8em;font-size: 16px;font-weight: bold;text-transform: uppercase;
	border-bottom: 1px solid rgba(238, 238, 238, 0.6);
	margin: -1px 0px;
	text-align: left;
}
.child-category ul{
	padding: 0px;
	margin: 0px;
}
.child-category li a{
	display: block;
	padding: 7px 15px;
	color: white;
}
.child-category li{
	list-style: none;
	display: inline-block;
	padding: 0px;
	background: #18586c;
}
/*categroy::end*/


/*home text*/
#home-text > h2{
	color: #1e1c1c;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
}
#home-text{
	position: relative;
	float: left;
	background:#6161611c;
	padding: 3px 25px;
	width: 100%;
	color: white;
    /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-bottom: 20px;*/
    clear: both;
}
.district-link li a{
	color: #030303;
	font-weight: 400;
}
/*home text :: end*/

/**** home****/
/**newsletters**/
.newsletters a,.newsletters p{
	color: #3c3c3c;
}
/**newsletters::end**/
/**first carousel adv home **/
.owl-theme .owl-nav{
	margin: 0px;
}
.owl-carousel .owl-nav{
  display: none;
}
.owl-carousel:hover .owl-nav{
  display: block;
}
.owl-nav button i{
	font-size: 18px;
    line-height: 24px;
    width: 15px;
}
.owl-nav button {
    width: 40px;
    height: 40px;
    position: relative;
    background: rgba(253, 210, 12, 0.7) !important;
}
.owl-nav .owl-prev {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.owl-nav .owl-next {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.custom-control ul{
	width: 100%;
	height: 100%;
}
.custom-control .item a{
	width: 100%; padding: 0 10px;border-right: 1px solid #b9b9b9;position: absolute;top: 50%;transform: translateY(-50%);

}
.custom-control ul li + li{
}
.custom-control ul li{
	position: relative;float: left;display: block;text-align: center;width: 20%;height: 100%;
}

.carousel-first-adv h2:after{
	content: '';
    width: 0;
    height: 0;
    border-right: 12px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.carousel-first-adv h2{
	float: left;
    padding: 10px 20px 10px 10px;
    background: #fdd504;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.carousel-first-adv #dot .ping {
    border: 1px solid #f33;
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: rgba(238,46,36,.2);
    border-radius: 100%;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-name: sonar;
    animation-name: sonar;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    display: block;
    margin: -1px 0 0 -1px;
}
.carousel-first-adv #dot {
    width: 10px;
    height: 10px;
    background-color: #f33;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    display: block;
}
.carousel-first-adv .liveevent{
	position: relative;
    color: #f33;
    font-size: 12px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    float: left;	
}
/*
.owl-carousel .owl-stage {
    display: flex;
}
.owl-carousel .owl-item{
    width: auto;
    height: 100%;
}
.owl-stage {
	display: flex;
}
.owl-item {
	display: flex;
	flex: 1 0 auto;
}
*/
.owl-stage .active:last-child {
	border-right: 1px solid rgba(128, 128, 128, 0.12); 
}
.owl-stage .active {
	border-left: 1px solid rgba(128, 128, 128, 0.12); 
	border-bottom: 1px solid rgba(128, 128, 128, 0.12); 
	border-top: 1px solid rgba(128, 128, 128, 0.12); 
}
.owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.owl-stage-outer{
	border-right: 1px solid rgba(128, 128, 128, 0.12); 
}
.owl-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
}

.ring-container {
    position: relative;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #f33;
    border-radius: 50%;
    position: absolute;
	top: 13px;
    left: -24px;
}

.ringring {
    border: 3px solid #f33;
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
	left: -29px;
    top: 8px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

/**first carousel adv home :: end; **/

/**feature products*/
.home-rate-discount-red{
	background: #ee170b;
}
.home-rate-discount-yellow{
	background: #f28902;
}
.home-rate-discount-yellow,.home-rate-discount-red{
	
	display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
    padding: 0 7px;
    line-height: 1.8em;
}
.home-discount {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}
.home-discount:before {
    content: ' ';
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaCAYAAAC+aNwHAAAABGdBT…tWa6z+EfBFb8GB31HTBRxC3+gKDdRY/SOgSfSExvwOt/sHwv9i4NYIgYYAAAAASUVORK5CYII=);
    background-size: 50% 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f13500;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.home-discount {
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding-left: 0;
    padding-right: 10px;
    font: 300 13px/18px Helvetica,Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #fff;
    outline: none;
    zoom: 1;
}

/*feature products*/
.price{
	font-size: 14px;
}
.feature-div .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}

.feature-div h2{
	position: 	relative;	
	float: left;
	text-align: left;
	font: 600 16px/45px Helvetica,verdana; 
	border-bottom: 1px solid #f3f3f3;
	text-transform: uppercase;
	padding-left: 10px;
	width: 	100%;
}
.feature-div{
	margin-top: 20px;
	padding: 0px;
	background: white;
}

.feature-products .owl-item, .carousel-products .owl-item{
	padding: 10px 10px 0px 10px;
}
.first-product-box h3{
	font-size: 14px !important;
}
.first-product-box:hover h3{
	color: #288ad6;
}
.products-from-cat-div .info p{
	padding-bottom: 0px !important;
} 
.products-from-cat-div .info{
	padding: 10px 0px 0px 0px;
}
.products-from-cat-div h3{
	font-size: 14px !important;
}

.carousel-products .item a, .item-product-in-leaf a,
.feature-products .item a{
	margin-bottom: 2px;position: relative;float: left;width: 100%;
}
.carousel-products img, .item-product-in-leaf img,
.feature-products img{
	display: block;
    transition: all ease 300ms;
    padding: 10px;

}
.carousel-products a:hover img,
.feature-products a:hover img{
	padding: 5px 10px 15px 10px;
}

.carousel-products .info h3,.item-product-in-leaf h3,
.feature-products .info h3{
	line-height: 1.3em;
	font-size: 14px;
}
.carousel-products .info p strong, .item-product-in-leaf p strong,
.feature-products .info p strong{
	color: red;
}
.carousel-products .info,.item-product-in-leaf .info,
.feature-products .info{
	position: relative;
	float: left;
	width: 100%;
	padding: 10px 0px;

}

.carousel-category-branch{
	position: relative;
	float: left;
}

.feature-project img:hover{
	opacity: 1;

}
.discount-text p{
	font: 300 13px/18px Helvetica,verdana !important;
	text-align: left;
}

.discount-text ul{
	padding-left: 0px;
  	list-style-type: none;
  	text-align: left;
}
.discount-text ul li:before{
	content: "\2713";
  	color: black;
  	padding-right: 5px;
  	line-height: 2em;
}

/*feature products::end*/
/*solution-rignt */
.solution-right-div ul li a{
	display: inline-block;
}
.solution-right-div ul li{
	list-style: inside;
	list-style-type: square;
	color: #333;
	text-align: left;
	width: 100%;
	position: relative;
	float: left;
	padding: 5px 0px;
}
.solution-right-div ul{
	width: 100%;
	padding: 5px;

}
/*solution-rignt :: end */
/*latest-product*/
.latest-div > .product-item img{
	padding: 5px;
}
.latest-div > .product-item{
	width: 100%;
	position: relative;float: left;
	display: block;
	clear: both;
	margin-bottom: 5px;
}
.latest-div > h5,.right-title, .solution-right-div > a > h5{
	display: block;
    overflow: hidden;
    line-height: 26px;
    font-size: 18px;
    color: #288ad6;
    text-transform: uppercase;
    padding: 0px 0px 0px 6px;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    text-align: left;
}
/*latest-product :: end*/
/*product from category - home*/
.first-product-box .price strong{
	color: #e10c00;
	font-size: 14px;
}

.products-category-home .owl-item{
	border-left: 1px solid #f3f3f3;
}

.products-category-home .owl-item:nth-child(2){
}

.khuyenmai-image img{
	padding: 3px;
}
/*product from category::end*/
/*** home::end*/


/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 0px;
	position: relative;
	float: left;
	width: 100%;

}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}

.swiper-viewport {
    margin: 0 0 0px;
    background: #fff;
    z-index: 1;
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    width: 100%;
    position: relative;
    overflow: visible;
}
@media (max-width: 767px) {
	.swiper-viewport{
		margin-bottom: 20px; 
	}	
}
/* Solution - div */
#solution-div .item span{
	padding: 10px 5px;
	text-transform: uppercase;
	position: relative;
    float: left;
    text-align: center;
    width: 100%;
}
#solution-div .item{
	padding: 10px;
}
/* Solution - div :: end */

/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}

@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}


/* Group news at home */
.news-list-main-home .next-news h4{
	font: 600 15px/20px Helvetica,verdana;
	text-align: justify;
}
.news-list-main-home .next-news{
	padding: 10px;
	text-align: justify;
}
.news-list-main-home .main-news{
	padding: 0px 10px 10px 10px; margin-bottom: 10px;
}
.news-list-main-home p{
	font: 400 15px/22px Helvetica,sans-serif !important;	
}
@media (min-width: 992px) {
	.news-list-main-home .main-news .image{
		height: 350px;
		overflow: hidden;
	}	

}

/* Group news at home :: end; */

.tab-content{
	padding: 0px 10px;
}
.tab-content p img{
	max-width: 100%;
}
.tab-content p{
	font: normal 14px/24px Helvetica,sans-serif;
	color: #272727;
	text-align: justify;
	margin: 3px 0px;
}

.text_tgdd label{
	font: normal 14px/1.5em Helvetica,arial;
}
.text_tgdd .not-required{
	display: none !important;
}
.standard-info{
	display: block;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    margin: 5px 10p Helvetica, 12px;
    background: #fff;
    padding-bottom: 10px;
}

.more-us i {
	color: #fbbe30 !important;
}
.more-us h4 {
    font: 300 14px/24px Helvetica,arial;
    padding: 0 0 0 5px;
    clear: both;
}
#product-description img{
	max-width: 100% !important;	
}
.product-div .policy .timeship:before {
    content: '';
    background: url(https://www.thegioididong.com/Content/desktop/images/V4/game/1-doi-1@2x.png) 0 0 no-repeat;
    width: 18px;
    height: 20px;
    background-size: 18px 20px;
    position: absolute;
    display: block;
    top: 8px;
    left: 0;
}
.product-div .policy .wrpr:before {
    content: '';
    background: url(https://www.thegioididong.com/Content/desktop/images/V4/game/bao-hanh-chinh-hang@2x.png) 2px 0 no-repeat;
    width: 19px;
    height: 23px;
    background-size: 16px 23px;
    position: absolute;
    display: block;
    top: 8px;
    left: 0;
}
.product-div .policy .inpr:before {
    content: '';
    background: url(https://www.thegioididong.com/Content/desktop/images/V4/game/trong-hop-co@2x.png) 0 0 no-repeat;
    width: 19px;
    height: 16px;
    background-size: 19px 16px;
    position: absolute;
    display: block;
    top: 4px;
    left: 0;
}
.product-div .policy li{
	display: block;
    overflow: hidden;
    padding: 5px 0 5px 28px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    margin: 0 10px;
    border-bottom: solid 1px #f0f0f0;
    position: relative;
}
.product-div .policy li:last-child{
	border-bottom: none; 
}

.product-div .policy{
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
}

#product label{
	font: normal 14px/24px Helvetica,sans-serif;
	color: gray;
	text-align: justify;	
}
.product-attribute li + li{
	border-top: 1px dotted #e1e1e1;
}
.product-attribute span{
	font: 300 14px/18px Helvetica,verdana;
	color: #09013c;
}
.form-horizontal .form-group{
	margin: 0px;
}
/* phone ringing */
.phone-ringing {
    width: 42px;
    height:42px;
    -webkit-animation: phone-ringing 2s infinite;
    -webkit-animation-iteration-count:infinite;
    border-radius: 21px;
    border: 2px solid #1ea1db;
    text-align: center;
}

.phone-ringing:before1 {
    font-family: FontAwesome;
    content: "\f095";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #1ea1db;
}

@-webkit-keyframes phone-ringing{
  0% {
  }
  10% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg); 
  }
  20% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);       
  }
  30% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);       
  }
   40% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);       
  }
  50% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);       
  }
   60% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);       
  }
  70% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);       
  }
  80% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);       
  }
  90% {
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);       
  }
   100% {
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);       
  }
}
/* phone ringing::end; */
/* footer */
#rfid-footer {
  background-color: rgb(213, 213, 213)
}

.footer-content ul li:first-child {
  list-style: none inside;
  text-transform: uppercase;
  font: 700 14px/30px arial ,sans-serif,verdana;
  color: #EB5A0B;
  margin-bottom: 10px;
}

.footer-content ul li+li a {
  font: 400 14px/18px arial ,sans-serif,verdana;
  color: #fff;
}

.footer-content ul li+li {
  list-style: none;
  padding-left: 1em;
  text-indent: -.7em;
  content: "■ ";
  color: #fff;
  margin-bottom: 5px;

}

	/* scrolltotop */
.scrollToTop{
	width:40px; 
	height:40px;
	text-align:center; 
	font-weight: normal;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:85px;
	right: 20px;
	background: transparent;
	display:none;
}
.scrollToTop:hover{
	text-decoration:none;
}	
	/* scrolltotop::end; */
.Phone {
  position: relative;
  display: block;
  margin: 0;
  width: 1em;
  height: 1em;
  font-size: 48px;
  position: fixed;
  right: 20px;
  bottom: 10px;
  background-color: #e67817;
  border-radius: 0.5em;
  box-shadow:
    0 0 0 0em rgba(#3498db, 0),
    0em 0.05em 0.1em rgba(#000000, 0.2);
  transform: translate3d(0, 0, 0) scale(1);
}

.Phone::before,
.Phone::after {
  position: absolute;
  content: "";
}

.Phone::before {
  top: 0;
  left: 0;
  right: 1em;
  height: 1em;
  background-color: rgba(#fff, 0.1);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
  animation: phone-outer 3000ms infinite;
  
  &::before {
    animation: phone-inner 3000ms infinite;
  }
  
  &::after {
    animation: phone-icon 3000ms infinite;
  }
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0.1),
      0em 0.05em 0.1em rgba(#000000, 0.5);
  }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0.5em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-icon {
  0% { transform: translate3d(0em, 0, 0); }
  2% { transform: translate3d(0.01em, 0, 0); }
  4% { transform: translate3d(-0.01em, 0, 0); }
  6% { transform: translate3d(0.01em, 0, 0); }
  8% { transform: translate3d(-0.01em, 0, 0); }
  10% { transform: translate3d(0.01em, 0, 0); }
  12% { transform: translate3d(-0.01em, 0, 0); }
  14% { transform: translate3d(0.01em, 0, 0); }
  16% { transform: translate3d(-0.01em, 0, 0); }
  18% { transform: translate3d(0.01em, 0, 0); }
  20% { transform: translate3d(-0.01em, 0, 0); }
  22% { transform: translate3d(0.01em, 0, 0); }
  24% { transform: translate3d(-0.01em, 0, 0); }
  26% { transform: translate3d(0.01em, 0, 0); }
  28% { transform: translate3d(-0.01em, 0, 0); }
  30% { transform: translate3d(0.01em, 0, 0); }
  32% { transform: translate3d(-0.01em, 0, 0); }
  34% { transform: translate3d(0.01em, 0, 0); }
  36% { transform: translate3d(-0.01em, 0, 0); }
  38% { transform: translate3d(0.01em, 0, 0); }
  40% { transform: translate3d(-0.01em, 0, 0); }
  42% { transform: translate3d(0.01em, 0, 0); }
  44% { transform: translate3d(-0.01em, 0, 0); }
  46% { transform: translate3d(0em, 0, 0); }
}

 .contact-title{
 	position: relative;
 	margin: 0 auto;
 	width: 100%;
 	max-width: 1200px;
 	padding: 10px 0px;
 }
 .contact-title h2{
 	width: 100%;
 	text-transform: uppercase; 
 }

.contact-phonefax{
	font: 300 15px/24px Helvetica,sans-serif;
	color: 	#3c3c3c;
}

.sitemap-home li a{
	font: 300 15px/20px Helvetica, sans-serif;
	color: #3c3c3c;
}
.sitemap-home li{
	list-style-type: square;
    list-style-position: inside;
    color: #3c3c3c;
    margin-bottom: 7px;
}
.sitemap-home {
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
}

footer > .container{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}
footer {
	width: 100%;
	position: relative;
	float: left;
	padding: 0px;
	color: #e2e2e2;
	margin-top: 20px;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {

}
footer h5 {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	color: #fff;
	border-bottom: 1px solid gray;
}
.footer-info h3{
	font: 400 18px/22px Helvetica,verdana;
	color: 	#3c3c3c;
	text-transform: uppercase;
}
@media (max-width: 767px) {
	.footer-info h3{
		font: 400 16px/22px Helvetica,verdana;
	}
}


/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb-jhe{
	width: 100%;
}
.breadcrumb > h2{
	text-transform: uppercase;
	color: #09004b;
	font-size: 20px;
}
.breadcrumb ul{
	padding: 0px;
}
.breadcrumb li a{
	text-decoration: none;

}
.breadcrumb li{
	position: relative;
	float: left;
	font: normal 14px/20px Helvetica, sans-serif;
	color: white;
	white-space: nowrap;
	list-style: none;
	padding-right: 10px;
}
.breadcrumb li + li:before {
	content: " > ";
	padding: 0;
	color: #999999;
	font: lighter 14px/1.5em Helvetica;
}


.breadcrumb {
	padding: 8px;
	border-radius: none;
	background: none;
}
/*
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
*/
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
#search .btn{
	border: none;
	border-radius: 4px;
	box-shadow: none;	
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e67817;
	/*background-image: linear-gradient(to bottom, #eeeeee, #dddddd);*/
	background-repeat: repeat-x;
	border-color: #e67817;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: none;
	/*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
	background-repeat: repeat-x;
	border-color: #1f90bb;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #e67817;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}


/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
	
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.featured-image .display-des{
	position: relative;
	margin: 0 auto;
	padding: 10px;	
}
.featured-image .display-img{
	position: relative;
	margin: 0 auto;
	padding: 7px;
}
.featured-image:hover .display-des{
	display: block;
}

.featured-image{
	position: relative;
}

.featured-image .display-img{
	display: block;
	
}
.featured-image:hover .display-des{
	opacity: 0.8;
}
.featured-image .display-des p{
	background: #575757;
	height: 100%;
	padding: 10px 5px;
	color: white;
}
.featured-image .display-des{
	position: absolute;
	
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30%;
	display: none;
	font: normal 14px/18px Helvetica,sans-serif;
	transition: visibility 0.5s ease-in,opacity 0.2s ease-in;
}

.product-thumb .caption h4{
	display: block;
    line-height: 1.3em;
    font-size: 14px;
    margin: 10px 0px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-thumb:hover h4 a{
	color: #288ad6 !important;	
}
.product-thumb .caption p{
	font: 400 12px/1.3em Helvetica,sans-serif !important;
	color: #666;
}
.product-thumb .caption .price{
	text-align: center;
}
.product-thumb .price-filter{
	text-align: left;
	color: white !important;
	font-weight: 300 !important;
	padding: 0 10px;
	width:100%;
	display: inline-block;
	font: 300 15px/40px Helvetica,sans-serif !important;
	margin: 0px;
}

.related-caption a{
	text-align: left;
	color: #2b332d;
	overflow: hidden;
	display: block;
}
@media (min-width: 992px){
	.product-grid:nth-child(4n+1){
		clear: left;
	}	
}
@media (min-width: 768px) and (max-width: 991px){
	.product-grid:nth-child(3n+1){
		clear: left;
	}	
}
@media (max-width: 767px){
	.product-grid:nth-child(2n+1){
		clear: left;
	}	
}

.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
	padding: 10px;
}

.product-thumb .image {
	text-align: center;
	transition: all 0.8s ease-in;
}

.product-thumb .image img {
	margin: 0 auto;
	width: 100%;
	padding: 10px;
	transition: all ease 300ms;
}
.product-thumb:hover .image img{
	padding: 5px 10px 15px 10px;
}
.attribute-div h3{
	font: normal 20px/1.3em Helvetica, Arial;
}
.attribute-div ul li span{ 
	display: table-cell; 
	color: #666;
}
.attribute-div ul li{
	list-style: none;
	width: 100%;
	border-top: 1px solid #eee;
	padding: 10px 5px;
	position: relative;
	float: left;
}
#description p{
	font-size: 16px;
	line-height: 24px;
	color: #333;
	margin: 10px 0px;
}
#description{
	padding-right: 3% !important;
}
#attribute li span:nth-child(1){
	padding-right: 5px;
	padding-left: 0px;
}
#attribute li span:nth-child(2){
	color: #288ad6;
	padding-right: 0px;
	padding-left: 5px;
}
#attribute li span{
	color: #666;
	padding: 5px 0px;
}
#attribute{
	padding-left: 2% !important;
}
.product-div .center-div{
	padding-right: 20px;
	padding-left: 15px;
}
@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}
	.product-div .center-div{
		padding-right: 5px;
		padding-left: 5px;
	}
	.product-4 .product-grid:nth-child(2n + 1){
		clear: left;
	}
	#description{
		padding-right: 5px;
	}
	#attribute{
		padding-left: 5px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.product-list .product-thumb .image {
		float: left;
		padding: 0 10px;
	}
	#content, #content-5, #content-7{
	}
	.product-4 .product-grid:nth-child(2n + 1){
		clear: left;
	}
}
@media (min-width: 992px) {
	.product-4 .product-grid:nth-child(4n + 1){
		clear: left;
	}
	#content, #content-5, #content-7{
	}

}
.product-thumb h4 {
}

.product-thumb .caption {
    padding: 10px 3px;
    /* min-height: 50px; */
}
.product-list .product-thumb .caption {
}

.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #ed1c24
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}

.item-product-in-leaf{
	width: 20%;
	position: relative;
	float: left;
	padding: 10px;
}
.item-product-in-leaf:nth-child(5n+1){
	clear: left;
	margin-bottom: 10px;
}

/*tu van div::start*/
.tuvan-div{

}
/*tu van div::end*/

/*filter::start*/
.filter-div .text-right{
	display: inline-block;
}
.filter-div .list-group{
	display: inline-block;
}
.filter-div{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	padding: 0 10px;
	display: inline-block;
}
 .filter-div-list .checkbox{
 	display: inline-block !important;
 }
 .filter-div-list{
 	display: inline-block;
 	border: none;
 }
/*filter::end*/

@media (min-width: 769px) {
	.tuvan-div{
		padding: 50px 15px;
	}

}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
	.tuvan-div{
		padding: 15px 0px;
	}
}
.product-thumb .manufacture-product-add-btn:hover {
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f76b1c),to(#f89406));
    background: -webkit-linear-gradient(top,#f89406,#f76b1c);
    background: -moz-linear-gradient(top,#f89406,#f76b1c);
    background: -ms-linear-gradient(top,#f89406,#f76b1c);
    background: -o-linear-gradient(top,#f89406,#f76b1c);
    color: #fff;
    	text-decoration: none;
	cursor: pointer;
}
.product-thumb .manufacture-product-add-btn {
	display: inline-block;
    text-align: center;
    overflow: hidden;
    padding: 5px 0;
    margin: 0 5px;
    margin-left: 0;
    cursor: pointer;
    font-size: 12px;
    color: #f76b1c;
    text-transform: uppercase;
    border: 1px solid #f76b1c;
    border-radius: 3px;
    background: #fff;
    transition: all .3s ease;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {

}
.btn-muahang{
	width: 60%;
    display: inline-block;
    position: relative;
    float: right;
    font: normal 15px/40px Helvetica,sans-serif !important;
    background-color: #f36f36 !important;
    color: white !important;    
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
/*
.news-image .thumbnail img{
	width: 100%;
}
.news-image .image-addition  img{
	margin: 0px;
	padding: 10px;
	width: 100%;
}
.news-image .thumbnail img{
	
}
.news-image .thumbnail {
	border: none;
	padding: 0px;
}
.image-additional .thumbnail{
}
.image-additional:nth-child(2) .thumbnail{
	padding-right: 10px;
}.image-additional:nth-child(4) .thumbnail{
	padding-left: 10px;
}.image-additional:nth-child(3) .thumbnail{
	padding-left: 5px;
	padding-right: 5px;
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
}
.thumbnails {
}

.image-additional a {
	margin-bottom: 20px;
	display: block;
	padding: 0px;
}

.thumbnails .image-additional {
	float: left;
}

*/
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}
@media (min-width: 1200px) {
	.feature-div .col-lg-3:nth-child(4n+2),
	.feature-div .col-lg-4:nth-child(3n+2),
	.feature-div .col-lg-6:nth-child(2n+3),.product-category .col-lg-3:nth-child(4n+1) {
	}	
	.container {
    	width: 1200px;
    	padding: 5px 0px 0px 0px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {	
	.feature-div .col-md-3:nth-child(4n+2),.product-category .col-md-3:nth-child(4n+1),
	.feature-div .col-md-4:nth-child(3n+2),
	.feature-div .col-md-6:nth-child(2n+3) {
		clear:left !important;
	}
	.container {
    	width: 100%;
    	padding: 0px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {	
	.feature-div .col-sm-2:nth-child(6n+2),
	.feature-div .col-sm-3:nth-child(4n+2),.product-category .col-sm-3:nth-child(4n+2),
	.feature-div .col-sm-4:nth-child(3n+2),
	.feature-div .col-sm-6:nth-child(2n+3) {
		clear:left;
	}
	.container {
    	width: 100%;
    	padding: 0px;
	}
	.main-menu > ul > li a{
		padding: 0 13px;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
/* standardlise head font: h1, h2, ... on display mobile and tablet */
@media (max-width: 767px) {
	h1 {
    	font-size: 22px;
    	line-height: 26px;
	}
	h2{
		font-size: 18px;
		line-height: 21px;
	}
	.breadcrumb > h2{
		font-size: 18px;
	}
	.breadcrumb li{
		font-size: 14px;
	}

	.featured-image .display-img img{
		width: 100%;
	}
}
/* standardlise head font: h1, h2, ... on display mobile and tablet :: end*/
.aboutus-hub-new > a span{
	display: block;
}
.aboutus-hub-new > a img{
	width: 36px;
	height: 36px;
}
.aboutus-hub-new > a{
	display: block;width: 100%;position: relative; margin: 0 auto;border-bottom:1px solid gray;padding: 5px;background: #FEE900;
	margin-top: 2px;
}
.aboutus-hub-new{
	position: fixed;right: 0px;top: 80px; width: 68px;z-index: 999;text-align: center;padding: 0px;text-align: center;
}
.aboutus-hub ul li:nth-child(3){
	top: 120px;
}
.aboutus-hub ul li:nth-child(2){
	top: 60px;
}
.aboutus-hub ul li:nth-child(1){
	top: 0px;
}
.aboutus-hub ul li{
	width: 170px;
	height: 60px;
	transition: all .5s;
	position: absolute;
	left: 0px;
	display: block;
}

.aboutus-hub ul li:hover{
	left: -130px;
}
.aboutus-hub a{
	position: relative;
	float: left;
	width: 100%;	
    padding-left: 60px;
    color: #ed9900;
    font: 600 16px/50px 'open sans';

}

.aboutus-hub ul li span{
	box-shadow: 0px 0px 7px #abababa6; padding: 5px 15px; background: white;
}
.aboutus-hub ul li{
	list-style: none;
	height: 50px;	
}
.aboutus-hub i{
	font-size: 30px;color: orange;position: absolute; left: 7px; top: 50%; transform: translateY(-50%);
	border: 2px solid orange;border-radius: 50%;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5); 
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5); 
	padding: 5px;
}
.aboutus-hub{
	position: fixed;right: 5px; top: 80px;width: 45px;
	z-index: 999;
}