.live-search {
	position: absolute;
	z-index: 1000;
	padding: 5px 0 20px;
	margin-top: 40px;
	box-shadow: 0 2px 2px #DDDDDD;
	left: 0;
	display: none;
    border: 1px solid #e2e2e2;
    background: #fff;
    left: 0;
    width: 345px;
}
@media (max-width: 991px) {
	.live-search {
		left: -80px;
		width: calc(100% + 80px);
	}

}
.live-search .loading{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.live-search ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.live-search ul li + li {
	border-top: 1px solid #eee;
}
.live-search ul li {
	cursor:pointer;
	padding: 5px;
	background-color:#FFF;
	min-height:50px;
	clear:both;
	width: 	100%;
	position: 	relative;	
	float: 	left;	
}
.live-search ul li:nth-child(even) {
}
.live-search ul li:hover {
	background-color:#F0F7FA;
}
.live-search ul li a{
	text-decoration: none;
	display:block;
	width: 	100%;
	position: relative;	
	float: 	left;	
	text-align: 	left;
}
.live-search ul li .product-image > img{
	position: relative;
	float: 	left;	
	width: 100%;
}
.live-search ul li .product-image{
	float:left;
	padding-right: 5px;
	width: 20%;
	position: 	relative;
}
.live-search ul li .product-name p{
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
	color:#555555;
	margin:0px;
	padding:0px;
}
.live-search ul li .product-name span{
	width: 100%;
	position: relative;
	float: left;

}
.live-search ul li .product-name{
	float: left;
	width:80%;
	text-indent: 0px;
}
.live-search ul li .product-add-cart{
	float: right;
	padding: 7px;
	display: none;
}

.live-search ul li .product-price {
	font-size: 12px;
	font-weight: normal;
	float:left;
	margin-top:10px;
}
.live-search ul li .product-price .price{
	color: #c70100;
	display:block;
}
.live-search ul li .product-price .special{
	color: #FF0000;
	text-decoration: line-through;
	display:block;
}

.live-search .product-price > .special {
	margin-top: -5px;
}

.live-search .result-text{
	display: none;
	font-weight: bold;
	text-align: center;
	font-size: 11px;
	line-height: 20px;
	color:#555555;
	background-color:#e6ffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.live-search .view-all-results:hover {
	color: #23527c;
}
.live-search .view-all-results {
	color: #23a1d1;
}
.live-search .product-image {
	width: auto;
}
.live-search .product-image img {
	width: auto;
}